
$colorNaranja: hsl(25, 97%, 53%);

$colorBlanco: hsl(0, 0%, 100%);
$colorGrisLight: hsl(217, 12%, 63%);
$colorGrisMedium: hsl(216, 19%, 15%);
$colorAzulOscuro: hsl(213, 19%, 18%);
$colorAzulOscuro2: hsl(216, 12%, 8%);


$fuentePrincipal: 'Outfit', sans-serif;